body{
    background-image: url(/images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    margin:40px;
    width: 150px;
    /* margin-top: 30px;
    margin-right: 40px; */
}
.text-center{
    /* background-color: burlywood; */
    height:30px;
    margin: 5px;
}


    	table {
            width: 100%;
            font: 17px Calibri;
        }
        table, th, td, th {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
            font-weight: normal;
        }
  